# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env variables
.env

# Migrations (optional, faqat bazadan tozalamoqchi bo‘lsangiz)
**/migrations/*.py
!**/migrations/__init__.py
